{% extends 'base.html' %}
{% load staticfiles %}
{% load permissions %}

{% block dashboard %}

<!-- Custom styles for this template -->
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                {% if request.user|has_group:"Instructors" %}
                    {% include 'profile/instructor_dashboard.html' %}
                {% else %}
                    {% include 'profile/student_dashboard.html' %}
                {% endif %}
                {% block sidebar %}{% endblock %}
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">{% block title %}Dashboard{% endblock %}</h1>
            {% block dashboard_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
{% block jquery %}
{% endblock jquery %}