{% load base_extras %}


<li class="{% active request 'polls_index' %}"><a href="{% url 'polls_index' %}">Polls</a></li>
<li class="{% active request 'courses_index' %}"><a href="{% url 'courses_index' %}">Courses</a></li>
<li><a href="#" class="disabled text-muted">Export (coming soon...)</a></li>
