{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Course{% endblock %}
{% block dashboard_content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class=" jumbotron form-signin col-md-6">
            <form id="edit_course_form" method="post" action=" {% url 'edit_course' id %}">
                {% csrf_token %}
                <h4>Course Title:</h4>
                {{ edit_course_form|crispy }}

                    <input class='btn btn-lg btn-primary btn-block' type="submit" name="submit" value="Save Changes" />
                    <a href="{% url 'courses_index' %}" class="btn btn-lg btn-default btn-block">Cancel</a>

            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}