{% extends 'base.html' %}
{% load permissions %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}Courses{% endblock %}

{% block dashboard_content %}
    {{ block.super }}
{% if request.user|has_group:"Instructors" %}
    {% if not user.course_instructor.all %}
    <div class="jumbotron">
        <p>It looks like you haven't created any courses yet. To get started, create your first course.</p>
        {% include 'course/add_course.html' %}
    </div>
    {% else %}
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal">
                    <span class="glyphicon glyphicon-plus"></span> New Course
                </button>
                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Create a New Course</h4>
                            </div>
                            <div class="modal-body">
                                {% include 'course/add_course.html' %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Course Key<button class="btn btn-link" id="key-popover" data-toggle="popover" data-trigger="focus" title="What is the 'Course Key'?" data-content="Provide this key to your students to allow them to join the course">
                        <span class="glyphicon glyphicon-question-sign"></span></button></th>
                    <th>Course Title</th>
                    <th># Students Enrolled</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for course in user.course_instructor.all %}
                    <tr>
                        <td><a href="#" data-toggle="modal" data-target="#key-modal" data-key="{{ course.key }}">{{ course.key }}</a></td>
                        <td>{{ course.title }}</td>
                        <td>{{ course.students.count|default:"0"}}</td>
                        <td><a href="{% url 'edit_course' course.id %}" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-edit"></span></a></td>
                        <td><a href="{% url 'delete_course' course.id %}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span> </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% else %}
    {% if not user.course_students.all %}
        <div class="jumbotron">
            <p>It looks like you haven't joined any courses yet. To join a course, just add the course key
                that your instructor provides you with</p>
            {% include 'course/join_course.html' %}
        </div>
    {% else %}
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal">
                    <span class="glyphicon glyphicon-plus"></span> Add a Course
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add a New Course</h4>
                            </div>
                            <div class="modal-body">
                                {% include 'course/join_course.html' %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Course Title</th>
                    <th>Instructor</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for course in user.course_students.all %}
                    <tr>
                        <td>{{ course.title }}</td>
                        <td>{{ course.instructor.first_name }} {{ course.instructor.last_name }}</td>
                        <td><a href="{% url 'unjoin_course' course.id %}" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block links %}

{% endblock %}

{% block styles %}
.modal-body  {
    word-wrap: break-word;
}
{% endblock %}

{% block modals %}
    <div class="modal fade" id="key-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title text-muted" id="myModalLabel">
                        Students can join the course using the key below:
                    </h4>
                </div>
                <div class="modal-body">
                    <h1 class="text-center"></h1>
                </div>
                <div class="modal-header">

                    <h4 class="modal-title text-muted">
                        Or, by going to this URL:
                    </h4>
                </div>
                <div class="modal-body">
                    <h2 class="text-center"></h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
  $('#key-modal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) // Button that triggered the modal
    var key = button.data('key') // Extract info from data-* attributes
    var modal = $(this)

    modal.find('.modal-body h1').text(key)
    modal.find('.modal-body h2').text("http://www.freiclickr.com/join/" + key)
  });

{% endblock %}