{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Course Withdrawal{% endblock %}
{% block dashboard_content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class=" jumbotron form-signin col-md-6">
            <form id="delete_poll_form" method="post">
                {% csrf_token %}
                <h4>Are you sure you want to withdraw from "<b>{{ course }}</b>"?
                    You will no longer be able to participate in polls for this course.
                </h4>

                <input class='btn btn-lg btn-danger btn-block' type="submit" name="submit" value="Yes, Withdraw" />
                <a href="{% url 'courses_index' %}" class="btn btn-lg btn-default btn-block">Cancel</a>
            </form>

        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}