{% extends 'base.html' %}
{% load permissions %}
{% load crispy_forms_tags %}
{% load poll_extras %}
{% load staticfiles %}

{% block title %}{{ poll.name }}{% endblock %}
{% block dashboard_content %}
    {% if request.user == poll.instructor %}
        {# if instructor has not added any questions to poll, let him know #}
        {% if not question_set %}
            <div class="jumbotron">
                <p>You haven't added any questions to this poll yet. Get to it!</p>
                <button type="button" class="init btn btn-success btn-sm" data-toggle="modal" data-target="#QuestionModal">
                    <span class="glyphicon glyphicon-plus"></span> Add Question
                </button>
            </div>
        {% else %}
            <div class="panel">
            <button type="button" class="init btn btn-success btn-sm" data-toggle="modal" data-target="#QuestionModal">
                <span class="glyphicon glyphicon-plus"></span> Add Question
            </button>

                    <h4 id="active-status" data-status="{{ poll.active|yesno:'true,false' }}" class="text-info">Poll is {{ poll.active|yesno:'active,not active'}}</h4>
                    {% comment %}<a href="{% url 'poll_toggle_active' poll_key %}" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-play"></span> Start
                    </a>{% endcomment %}

                    {% comment %}<a href="{% url 'poll_toggle_active' poll_key %}" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-stop"></span> Stop
                    </a>{% endcomment %}

                <div class="input-group clockpicker ">
                    <input  id="timer" type="text" class="form-control" value="00:00:00">
                   {% comment %} <span id="start-timer" class="input-group-addon btn btn-default ">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>{% endcomment %}
                    <button class="btn btn-success start">Start</button>
                    <button class="btn btn-danger stop">Stop</button>
                    <button class="btn btn-info reset">Reset</button>
                </div>
                <div class="poll-timer" data-timer="0"></div>
            </div>

            {# display all the questions on this poll #}
            {% for question in question_set %}
                <div class="jumbotron">
                    <a href="{% url 'edit_poll_question' poll_key question.id %}">
                        <span class="glyphicon glyphicon-edit"> Edit Question</span>
                    </a>
                    <p><a href="{% url 'poll_results' poll_key question.id %}">
                        <span class="glyphicon glyphicon-chevron-up">View Results</span>
                    </a></p>
                    <h2>{{ question.question_text }}</h2>

                    {% for choice in question.choice_set.all %}
                        <h3>{{ forloop.counter }}. {{ choice }}</h3>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    {% else %} {# user is a student #}
        {%  for question in question_set %}
            <div class="jumbotron">
                {% if not user|has_voted:question %}
                <a href="{% url 'question_detail' poll_key question.id %}">
                    <span class="glyphicon glyphicon-edit">Vote on this question</span>
                </a>
                {% else %}
                 <div class="voted"><span class="glyphicon glyphicon-ok"> You voted on this question</span></div>
                    {% if poll.allow_vote_change %}
                        <a href="{% url 'edit_vote' poll_key question.id %}">
                    <span class="glyphicon glyphicon-edit"> Change your Vote</span>
                </a>
                    {% endif %}
                {% endif %}
                <h2>{{ question.question_text }}</h2>

                {% for choice in question.choice_set.all %}
                    <h3>{{ forloop.counter }}. {{ choice }}</h3>
                {% endfor %}
            </div>
        {% endfor %}

    {% endif %}
{% endblock %}
{% block modals %}
    <div class="modal fade" id="QuestionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create a New Question</h4>
                </div>
                <div class="modal-body">
                    {% include 'clicker/poll/new_poll_question.html' %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jquery %}
    $('.init').one('click', function () {
        $('.formlist').superformset({
            addTrigger: '<a href="#" class="add-row btn btn-sm btn-success" title="add"><span class="glyphicon glyphicon-plus-sign"> Add Choice</span></a>',
            canDelete: true,
            deleteTrigger: '<a href="#" class="remove-row" title="remove"><span class=" glyphicon glyphicon-trash"></span> Remove</a>',
            insertAbove: true,
            insertAboveTrigger: '<a href="#" class="insert-row" title="insert"><span class="glyphicon glyphicon-plus"></span> Insert Choice Here</a>',
            autoAdd: true,
            alwaysShowExtra: true
        });
    });


    $('.start').click(function() {
        var time = $('#timer').val().split(":");
        var hrs = parseInt(time[0], 10);
        var mins = parseInt(time[1], 10);
        var secs = parseInt(time[2], 10);
        var totalSecs = hrs*3600 + mins*60 + secs;
        var pollActive = $('#active-status').attr('data-status');
        var pollKey = "{{ poll.key }}";
        pollActive = (pollActive == "true");
        console.log(pollActive);

        if (!pollActive) {
            $.get('/polls/toggle_active/', {key: pollKey}, function(data){
                $('.poll-timer').attr('data-timer', totalSecs);
                $('.poll-timer').TimeCircles({count_past_zero: false}).addListener(function(unit, value, total) {
                    if (total == 0) {
                        $.get('/polls/toggle_active/', {key: pollKey}, function(data){
                            $('#active-status').attr('data-status', 'false');
                            $('#active-status').text("Poll is not active");
                        });
                    }
                });

                $('#active-status').attr('data-status', 'true');
                $('#active-status').text("Poll is active");
                console.log("pollActive: " + data);

            });

        }



    });

    $(".stop").click(function(){
        var pollKey = "{{ poll.key }}";
        var timeRemaining = 0;
        var pollActive = $('#active-status').attr('data-status');
        pollActive = (pollActive == "true");

        console.log(pollActive);
        if (pollActive) {
            $.get('/polls/toggle_active/', {key: pollKey}, function(data){
                $('.poll-timer').TimeCircles().stop();
                timeRemaining = $('.poll-timer').TimeCircles().getTime();
                $('.poll-timer').attr('data-timer', timeRemaining);
                $('#active-status').attr('data-status', 'false')
                $('#active-status').text("Poll is not active")
                console.log("pollActive: " + data);

            });

        }


    });

    $(".reset").click(function(){
        $(".poll-timer").TimeCircles().destroy();
        $("#timer").val("00:00:00");
        $('.poll-timer').attr('data-timer', "0");

    });



    {% comment %}$('#timepicker').timepicker({
                showInputs: true,
                minuteStep: 1,
                appendWidgetTo: 'body',
                showSeconds: true,
                showMeridian: false,
                defaultTime: '00:00:00'
            });{% endcomment %}


{% endblock jquery %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'js/TimeCircles.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/clockpicker.js' %}"></script>

{% endblock scripts %}

{% block styles %}
    .voted {
    color: #5cb85c;
    }
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/TimeCircles.css' %}" />
    <link type="text/css" href="{% static 'css/clockpicker.css' %}" />
{% endblock links %}