{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Edit Poll {% endblock %}
{% block dashboard_content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class=" jumbotron form-signin col-md-6">
            <form id="edit_vote_form" method="post" action=" {% url 'edit_poll' id %}">
                {% csrf_token %}
                {{ form|crispy }}

                <input class='btn btn-lg btn-primary btn-block' type="submit" name="submit" value="Save Changes" />
                <a href="{% url 'polls_index' %}" class="btn btn-lg btn-block btn-default">Cancel</a>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}