{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Edit Question {% endblock %}
{% block dashboard_content %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class=" jumbotron form-signin col-md-4">
            {% include 'clicker/poll/new_poll_question.html' %}
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}
{% block jquery %}
$('.formlist').superformset({
            addTrigger: '<a href="#" class="add-row btn btn-sm btn-success" title="add"><span class="glyphicon glyphicon-plus-sign"> Add Choice</span></a>',
            canDelete: true,
            deleteTrigger: '<a href="#" class="remove-row" title="remove"><span class=" glyphicon glyphicon-trash"></span> Remove</a>',
            insertAbove: true,
            insertAboveTrigger: '<a href="#" class="insert-row" title="insert"><span class="glyphicon glyphicon-plus"></span> Insert Choice Here</a>',
            autoAdd: true,
            alwaysShowExtra: true
        });
{% endblock jquery %}