{% extends 'base.html' %}
{% load permissions %}
{% load crispy_forms_tags %}

{% block title %}Polls{% endblock %}

{% block dashboard_content %}
{% if request.user|has_group:"Instructors" %}
    {% if not user.course_instructor.all %}
        <div class="jumbotron">
            <p>To start creating polls, first create a Course!</p>
        </div>
    {% elif not user.poll_set.all%}
    <div class="jumbotron">
        <p>It looks like you haven't created any polls yet. To get started, create your first poll.</p>
        {% include 'clicker/poll/new_poll.html' %}
    </div>
    {% else %}
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addModal">
                    <span class="glyphicon glyphicon-plus"></span> New Poll
                </button>
                <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Create a New Poll</h4>
                            </div>
                            <div class="modal-body">
                                {% include 'clicker/poll/new_poll.html' %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
        <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Poll Name</th>
                      <th>Course</th>
                      <th>Active</th>
                      <th>Anonymous</th>
                      <th>Allow Vote Change</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for poll in user.poll_set.all %}
                    <tr>
                      <td><a href="{% url 'poll_detail' poll.key %}">{{ poll.name }}</a></td>
                      <td>{{ poll.course }}</td>
                      <td>{% if poll.active %}<span class="glyphicon glyphicon-ok text-success"></span>{% else %}<span class="glyphicon glyphicon-remove text-danger"></span>{% endif %}</td>
                      <td>{% if poll.anonymous %}<span class="glyphicon glyphicon-ok text-success"></span>{% else %}<span class="glyphicon glyphicon-remove text-danger"></span>{% endif %}</td>
                      <td>{% if poll.allow_vote_change %}<span class="glyphicon glyphicon-ok text-success"></span>{% else %}<span class="glyphicon glyphicon-remove text-danger"></span>{% endif %}</td>
                      <td><a href="{% url 'edit_poll' poll.id %}" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span></a></td>
                      <td><a href="{% url 'delete_poll' poll.pk %}" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
    {% endif %}
{% else %} {# user is a student #}
    {% if student_polls  %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Poll Name</th>
                    <th>Course</th>
                    <th>Anonymous</th>
                </tr>
                </thead>
                <tbody>
                {% for poll in student_polls %}
                    <tr>
                        <td><a href="{% url 'poll_detail' poll.key %}">{{ poll.name }}</a></td>
                        <td>{{ poll.course }}</td>
                        <td>{% if poll.anonymous %}<span class="glyphicon glyphicon-ok text-success"></span>{% else %}<span class="glyphicon glyphicon-remove text-danger"></span>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="jumbotron ">
            <p>There are no active polls at this time.</p>
        </div>
    {% endif %}
{% endif %}
{% endblock %}