{% load crispy_forms_tags %}
{#% url 'new_poll_question' poll_key %#}
<form id="question_form" method="post" action="{{ action_url }}">

    {% csrf_token %}
    <h4>Poll Question:</h4>
    {{ question_form|crispy}}

    <h5>Your audience can select from these choices:</h5>
    <fieldset class="formlist">
        {{ choice_formset.management_form }}
        {% for form in choice_formset %}
            <div class="dynamic-form form-group">
                {{ form }}
            </div>
        {% endfor %}
    </fieldset>
    <div class="panel-footer">
        <input class='btn btn-lg btn-primary' type="submit" name="submit" value="Save Question" />
    </div>
    <div class="empty-form" style="display: none;">
        <div class="dynamic-form form-group">
            {{ choice_formset.empty_form }}
        </div>
    </div>
</form>

