{% extends 'base.html' %}
{% load permissions %}

{% block title %}Poll Results{% endblock %}
{% block dashboard_content %}


<div id="container" style="width:100%; height:400px;"></div>
    <h3 class="page-header">Student Responses</h3>
    {% if not poll.anonymous %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Student</th>
                <th>Vote</th>
            </tr>
            </thead>
            <tbody>
            {% for student, vote in student_votes.iteritems %}
                <tr>
                    <td>{{ student.first_name }} {{ student.last_name }}</td>
                    <td>{{ vote|default_if_none:"Didn't Vote" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="jumbotron">
    <h3>This poll is anonymous. To view student responses, create another poll and uncheck 'Anonymous'.</h3>
    </div>
    {% endif %}


{% endblock %}
{% block jquery %}
   $(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: '{{ question.question_text }}'
            },
            xAxis: {
                categories: {{ categories|safe }}
            },
            yAxis: {
                title: {
                    text: 'Votes'
                }
            },
            series: [{
                name: 'Students',
                data: {{ vote_count|safe }}
            }]
        });
    });

{% endblock %}