{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles%}
{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block dashboard %}{% endblock %}
{% block content %}
<!-- Custom styles for this template -->
<link href="{% static 'css/signin.css' %}" rel="stylesheet">

<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
<h2 class="form-signin-heading">{% trans "Sign Up" %}</h2>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="form-signin" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class='btn btn-lg btn-primary btn-block' type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>


{% endblock %}


