{% load crispy_forms_tags %}
{#% url 'new_poll_question' poll_key %#}
<form id="question_form" method="post" action="{% url 'vote' question.id  %}">
    <fieldset class="formlist">
            <div class="jumbotron">
                <h4>{{ question }}</h4>

                {% csrf_token %}
                {{ form|crispy }}

            </div>
    </fieldset>
    <div class="panel-footer">
        <input class='btn btn-lg btn-primary' type="submit" name="submit" value="Submit Vote" />
    </div>
</form>



