{% load staticfiles %}
{% load permissions %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>FreiClickr</title>

    <link rel='stylesheet' href='{% static "css/bootstrap.css" %}' />
    {% block links %}{% endblock %}
{#    <link rel='stylesheet' href='{% static "css/bootstrap-theme.css" %}' />#}

    <style>
    {% block styles %}
    {% endblock %}

   body {
       padding-top: 50px;
       padding-bottom: 20px;
   }
    </style>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  {% include 'navbar.html' %}

  {% block carousel %}{% endblock carousel %}
  {% block dashboard %}
      <!-- Custom styles for this template -->
      <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

      <div class="container-fluid">
      <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
              {% if request.user|has_group:"Instructors" %}
                  {% include 'profile/instructor_dashboard.html' %}
              {% else%}
                  {% include 'profile/student_dashboard.html' %}
              {% endif %}
          </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {% if messages %}
          {% for message in messages %}
              <div class="signin">
              <div class="alert
              {% if "error" in message.tags %} alert-danger
              {% elif "warning" in message.tags %} alert-warning
              {% elif "info" in message.tags %} alert-info
              {% else %}alert-success{% endif %} alert-dismissible" role="alert" >
                  <button type="button" class="close" data-dismiss="alert">
                      <span aria-hidden="true">&times;</span>
                      <span class="sr-only">Close</span>

                  </button>
                  <ul class="messages">
                    <li class="{{ message.tags }}">{{ message }}</li>
                  </ul>
              </div>
          {% endfor %}
      {% endif %}
      <h1 class="page-header">{% block title %}Dashboard{% endblock %}</h1>

      {% block dashboard_content %}

      {% endblock %}

  {% endblock dashboard %}
  <div class="container">
      {% block content %}{% endblock content%}
  </div>


  {% block modals %}
  {% endblock modals %}





  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/docs.min.js' %}"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  <script src="{% static 'js/django-superformset.js' %}"></script>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="{% static 'js/transition.js' %}"></script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59874606-1', 'auto');
      ga('send', 'pageview');
  </script>
  <script>
      $(document).ready(function(){
          $('#key-popover').popover();



          {% block jquery %}

          {% endblock%}
      });
  </script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59874606-2', 'auto');
      ga('send', 'pageview');

  </script>
    {% block scripts %} {% endblock scripts %}
  </body>
</html>
