{% extends 'base.html' %}
{% load staticfiles%}

{% block links %}
    <!-- Custom styles for this template -->
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet">
    <!-- Carousel
    ================================================== -->
{% endblock %}

{% block carousel %}


    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="{% static 'img/placeholder.gif' %}" alt="First slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Improve attentiveness</h1>
                        <p>Studies show that audience response systems increase student engagement in the classroom.</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'account_signup' %}" role="button">Sign up today</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'img/placeholder2.gif' %}" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Increase knowledge retention</h1>
                        <p>Students taught with an audience response system retain learned information better than
                            traditionally taught methods. </p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'account_signup' %}" role="button">Sign up for Frei!</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'img/placeholder3.gif' %}" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Confirm audience understanding of material</h1>
                        <p>FreiClickr gives instructors the ability to assess student knowledge on a particular subject.
                            This can help instructors dynamically adjust their teaching to students' needs, and
                            gives students instant feedback on their own understanding of material.</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'account_signup' %}" role="button">Register for a Frei Account</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'img/placeholder2.gif' %}" alt="Fourth slide">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Create an interactive and fun learning environment</h1>
                        <p>Having been asked a particular question about a concept or opinion, students are genuinely interested
                            in seeing the results. They want to learn if they answered correctly, and they want to know how their
                            response compares to the responses of their fellow students</p>
                        <p><a class="btn btn-lg btn-primary" href="{% url 'account_signup' %}" role="button">Sign up</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->
{% endblock carousel %}

{% block dashboard %}
{% endblock dashboard %}


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
{% block content %}
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="{% static 'img/blackboard.jpg' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h2>Track individual responses</h2>
                <p><a class="btn btn-default" href="#feature1" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="{% static 'img/results.png' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h2>Display polling results immediately</h2>
                <p><a class="btn btn-default" href="#feature2" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="{% static 'img/question.png' %}" alt="Generic placeholder image" style="width: 140px; height: 140px;">
                <h2>Multiple Question Polling</h2>
                <p><a class="btn btn-default" href="#feature3" role="button">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider" id="feature1">

        <div class="row featurette" >
            <div class="col-md-7">
                <h2 class="featurette-heading">Track Student Responses</h2>
                <p class="lead">Students enroll in their instructor's course, so an instructor can easily keep track of individual student performance. An instructor can create as many courses as they need to!</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="{% static 'img/responses.png' %}" alt="Student responses">
            </div>
        </div>

        <hr class="featurette-divider" id="feature2">

        <div class="row featurette">
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="{% static 'img/results.png'%}" alt="Generic placeholder image">
            </div>
            <div class="col-md-7">
                <h2 class="featurette-heading">Immediate Poll Results</h2>
                <p class="lead">Responses to polls are displayed for the instructor, but not to the student. This helps prevent
                    biased responses</p>
            </div>
        </div>

        <hr class="featurette-divider" id="feature3">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Multiple Question Polls</h2>
                <p class="lead">A poll can contain as many questions needed. Let students take quizzes!</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive" src="{% static 'img/add_question.png' %}" alt="Generic placeholder image">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
    </div>
{% endblock content %}