{% load staticfiles %}
{% load base_extras %}

<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FreiClickr</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="{% active request 'index' %}"><a href="{% url 'index' %}">Home</a></li>
        <li class="{% active request 'polls_index' %}"><a href="{% url 'polls_index' %}">Polls</a></li>
        <li class="{% active request 'courses_index' %}"><a href="{% url 'courses_index' %}">Courses</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if request.user.is_authenticated %}
        <p class="navbar-text">Signed in as "{{ user }}"
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
      {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
      {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
