{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete Course{% endblock %}
{% block dashboard_content %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class=" jumbotron form-signin col-md-6">
            <form id="delete_course_form" method="post">
                {% csrf_token %}
                <h4>Are you sure you want to delete "<b>{{ object }}</b>"?</h4>

                <input class='btn btn-lg btn-danger btn-block' type="submit" name="submit" value="Delete" />
                <a href="{% url 'courses_index' %}" class="btn btn-lg btn-block btn-default">Cancel</a>
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}